.idea/
build/
test/sm83/
resources/*.gb
resources/*.gbc
wer-frame.ppm
wer-audio.wav
resources/*.sav
*.sav
test/acid2/
test/mooneye/
test/blargg/
test/mealybug/
test/samesuite/
/deps
test/gambatte/
test/mbc3/
test/age/
